<%= search_form_for @q, url: recipe_search_path do |f| %>
  <div class="genre-search-table-container">
    <table class="table table-borderless m-0 p-0 genre_search_table">
      <tr>
        <th class="genre_search_head bg-brown">タグ検索</th>
        <td><%= f.collection_select :alcohol_id_eq, Alcohol.where.not(id: 0), :id, :name, include_blank: "アルコール検索", class: "form-control" %></td>
        <td><%= f.collection_select :food_id_eq, Food.where.not(id: 0), :id, :name, include_blank: "材料検索", class: "form-control" %></td>
        <td><%= f.collection_select :making_time_id_eq, MakingTime.where.not(id: 0), :id, :name, include_blank: "所要時間検索", class: "form-control" %></td>
        <td><%= f.submit '検索',class: "btn btn-primary" %></td>
      </tr>
    </table>
  </div>
<% end %>