<!--<div class="row">-->
  <!--< recipes.each_slice(3) do |recipe_group| %>-->
    <% recipes.each do |recipe| %>
      <div class="col-4">
        <div class="card-link mx-auto mt-4 shadow-lg">
          <%= link_to recipe_path(recipe.id) do %>
            <%= image_tag recipe.get_recipe_image(500, 600), class: "card-img-top"; %>
          <% end %>
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <%= image_tag recipe.user.get_profile_image(50, 50), class: "mt-3 rounded-circle" %>
              </div>
              <div class="col-10">
                <p class="card-title">
                  <%= link_to(recipe_path(recipe.id), class: "text-dark") do %>
                    <strong><i class="far fa-flag"></i><span> <%= recipe.title %></span></strong>
                  <% end %>
                </p>
                <p class="card-text">合うお酒：<%= recipe.alcohol.name %></p>
                <p class="card-text">材料    ：<%= recipe.food.name %></p>
                <p class="card-text">所要時間：<%= recipe.making_time.name %></p>
                <span><i class="fas fa-user"></i> By <%= recipe.user.name %></span><br>
                <% unless admin_signed_in? %>
                  <% if recipe.favorited_by?(current_user) %>
                    <span><%= link_to "♥#{recipe.favorites.count} いいね", recipe_favorite_path(recipe), method: :delete, class: "text-dark" %></span>
                  <% else %>
                    <span><%= link_to "♡#{recipe.favorites.count} いいね", recipe_favorite_path(recipe), method: :post, class: "text-dark" %></span>
                  <% end %>
                  <span class="comment ml-4"><%= link_to "#{recipe.comments.count} コメント", recipe_path(recipe.id), class: "text-dark" %></span>
                <% else %>
                  <span><%="♥#{recipe.favorites.count} いいね" %></span>
                  <span class="comment ml-4"><%= "#{recipe.comments.count} コメント" %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--< end %>-->
  <% end %>
<!--</div>-->
<div class="mt-3 mx-auto">
  <%= paginate recipes %>
</div>