<div class="container">
  <% if @result.present? %>
    <div class="row mt-3">
      <h2 class="bg-brown mt-3 text-left ">
        <% if (params[:q][:title_or_description_cont]).present? %>
          <i class="fa-solid fa-magnifying-glass"></i>
          ワード検索結果 "<%= params[:q][:title_or_description_cont] %>"(全 <%= @recipes.total_count %> 件)
        <% else %>
          <i class="fa-solid fa-magnifying-glass"></i>
          タグ検索結果 
          <% if @alcohol.present? %>
            "<%= @alcohol.name %>"
          <% end %>
          <% if @food.present? %>
            "<%= @food.name %>"
          <% end %>
          <% if @making_time.present? %>
            "<%= @making_time.name %>"
          <% end %>
          (全 <%= @recipes.total_count %> 件)
        <% end %>
      </h2>
    </div>
    <div class="row">
      <%= render "recipe-index", recipes: @recipes %>
    </div>
    <div class="d-flex justify-content-center mt-3 custom-pagination">
      <%= paginate @recipes %>
    </div>
  <% else %>
    <div class="col-12 my-3">
      <div class="d-flex align-items-center">
        <h2 class="my-5">--検索タグか検索ワードを入力してください--</h2>
      </div>
    </div>
  <% end %>
  <%= link_to('javascript:history.back()', class: "text-success ml-5") do %>
    <strong><i class="fa-solid fa-circle-left ml-2"></i>戻る</strong>
  <% end %>
</div>
