<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="3000">
      <%= image_tag 'slide1.jpg', size: "600x500", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="3000">
      <%= image_tag 'slide2.jpg', size: "600x500", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="3000">
      <%= image_tag 'slide3.jpg', size: "600x500", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="3000">
      <%= image_tag 'slide4.jpg', size: "600x500", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="3000">
      <%= image_tag 'slide5.jpg', size: "600x500", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="3000">
      <%= image_tag 'slide6.jpg', size: "600x500", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="3000">
      <%= image_tag 'slide7.jpg', size: "600x500", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="3000">
      <%= image_tag 'slide8.jpg', size: "600x500", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-caption top-bg">
      <p>本日も一日お疲れ様でした！<br>このサイトは、今日の晩酌のおつまみを悩んでいる方や、<br>
        自慢のおつまみを発信したい方のためのコミュニティです。<br>
        全国の晩酌愛好家たち一緒に、おつまみを通して交流しましょう！！
      </p>
      <p class="form-word">※未成年の方はお利用になられません※</p>
        
      </p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
 