<div class="container">
  <div class="row justify-content-start">
    
    <div class="col-9 mx-auto">
      <h2 class="my-5 col-4">会員編集</h2>
      <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
        <table class="table table-borderless">
          <tr>
            <td style="width: 40%"><%= f.label :name, "名前" %></td>
            <td style="text-align: center;"><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %></td>
          </tr>
          <tr>
            <td style="width: 40%"><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
          </tr>
          <tr>
            <td style="width: 40%"><%= f.label :birthday, "生年月日" %>
            <td style="text-align: left; vertical-align: middle;">
              <%= f.date_select :birthday, {start_year: 1950, end_year: (Time.now.year - 20),
                include_blank: true, use_two_digit_numbers: true},{class: "input-tab birthday-select form-control mx-2", style: 'display: inline-block;width:auto;'} %>
            </td>
          </tr>
          <tr>
            <td style="width: 40%">会員ステータス</td>
            <td>
              <%= f.radio_button :is_deleted, false %><%= f.label :有効 %>
              <%= f.radio_button :is_deleted, true %><%= f.label :退会 %>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="width: 40%;">
              <div class="actions">
                <%= f.submit "編集内容を保存する",class: 'btn btn-success form-control' %>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
