<div class="container">
  <div class="row mt-3">
    <!--<div class="col-2 my-3 bg-brown">-->
    <div class="col-11 mx-auto">
      <h3> 会員一覧</h3>
    </div><br>
  </div>
      <table class="table">
        <thead>
          <tr class="bg-brown">
            <th style="width: 10%">会員ID</th>
            <th style="width: 10%">氏名</th>
            <th style="width: 30%">メールアドレス</th>
            <th style="width: 10%">投稿数</th>
            <th style="width: 10%">コメント数</th>
            <th style="width: 30%">会員ステータス  (有効 or 退会)</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, admin_user_path(user.id), class:"link-order-customer" %></td>
            <td><%= user.email %></td>
            <td><%= user.recipes.count %></td>
            <td><%= user.comments.count %></td>
            <td>
             <% if user.is_deleted == false %>
              <p class="text-success">有効</p>
             <% else %>
              <p class="text-secondary">退会</p>
             <% end %>
           </td>
          </tr>
         <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-3 custom-pagination">
        <%= paginate @users %>
      </div>
    <!--</div>-->
  </div>
</div>