<div class="container">
  <div class="row mt-3">
    <h2 class="bg-brown my-3">管理者側会員詳細画面</h2>
  </div>
  <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td>登録日時</td>
          <td><%= @user.created_at.to_s(:datetime_jp) %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>生年月日</td>
          <td><%= @user.birthday %> (<%= @user.age %> 歳)</td>
        </tr>
        <tr>
          <td>会員ステータス  (有効 or 退会)</td>
          <% if @user.is_deleted == false %>
            <td class="text-success">有効</td>
          <% else %>
            <td class="tex-secondary">退会</td>
          <% end %>
        </tr>
        <tr>
          <td><%= link_to "会員側詳細ページ", user_path(@user), class:"btn btn-primary" %></td>
          <td><%= link_to "編集する", edit_admin_user_path(@user), class:"btn btn-success" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <h4 class="my-3"><%= @user.name %>  さんのコメント一覧</h4>
    <div class="col-10">
      <table class= "table">
        <thead>
          <tr class="bg-table">
            <th style="width: 15%">コメントした日</th>
            <th style="width: 15%">おつまみ名</th>
            <th style="width: 40%">コメント</th>
            <th style="width: 15%"></th>
          </tr>
        </thead>
        <% if @comments.present? %> 
          <tbody>
            <% @comments.each do |comment|  %>
              <tr>
                <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= comment.recipe.title %></td>
                <td><%= comment.comment %></td>
                <td><%= link_to "削除する", recipe_comment_path(comment.recipe_id, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm" %></td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <td colspan="5" class="text-center" style="font-size: 30px;">まだコメントされていません</td>
        <% end %>
      </table>
      <div class="d-flex justify-content-center m-3 custom-pagination">
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</div>