<div class="container">
  <!--<= render 'public/orders/flash' %>-->
  <div class="row p-5 text-center">
    <div class="mx-auto p-5 mt-3">
      <div class="bg-brown col-6 mx-auto">
        <h2>ログイン</h2>
      </div>
      <div class="bg-brown col-12 mx-auto">
        <p class="my-3">会員の方はこちらからログインしてください</p>
      </div>
      <%= form_with model: @user, url: new_user_session_path do |f| %>
        <table class="table table-borderless">
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :password, "パスワード" %></td>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
        </table>
        <%= f.submit "ログインする",class: 'btn btn-success form-control' %>
      <% end %>
    </div>
  </div>
  <%= render "public/shared/links" %>
</div>