<div class="col-11 p-3 mx-auto">
  <% if users.present? %>
    <table class="table">
      <thead>
        <tr class="bg-table">
          <th style="width: 10%"></th>
          <th style="width: 15%">名前</th>
          <th style="width: 10%">年齢</th>
          <th style="width: 10%">投稿数</th>
          <th style="width: 20%">フォロワー数</th>
          <th style="width: 20%">いいね獲得総数</th>
          <th style="width: 15%">総閲覧数</th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
            <td class="text-center"><%= image_tag user.get_profile_image(50, 50), class: "rounded-circle" %></td>
            <td><%= link_to user.name, user_path(user.id), class:"link-order-customer" %></td>
            <td><%= user.age %> 歳</td>
            <td><%= user.recipes.count %></td>
            <td><%= user.passive_relationships.count %></td>
            <td><%= user.total_favorites %></td>
            <td><%= user.total_views %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-center m-3 custom-pagination">
      <%= paginate users %>
    </div>
  <% else %>
    <h2> --該当するユーザーは見つかりませんでした--</h2>
  <% end %>
</div>