<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="mt-4 mb-4">プロフィール編集</h2>
      <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
        <div class="mb-3">
          <div class="form-group">
            <label for="inputName">ユーザー名</label>
            <label class="form-word">※必須</label> 
            <%= f.text_field :name, autofocus: true, id: "inputName", class: "form-control", placeholder: "ユーザー名" %>
          </div>
          <div class="form-group">
            <label for="inputName">自己紹介</label>
            <%= f.text_field :introduction, autofocus: true, id: "inputIntroduction", class: "form-control", placeholder: "自己紹介" %>
          </div>
          <div class="form-group">
            <label for="inputProfileImage">プロフィール画像</label>
            <%= f.file_field :profile_image, class: "form-control-file", accept: "image/*" %>
          </div>
          <%= f.submit "変更を保存", class: "btn btn-success" %>
          <%= link_to "退会する", user_confirm_path(@user.id), class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>