<div class="container">
  <div class="row mt-3">
    <h2 class="bg-brown mt-3 text-left"><%= @user.name %>さんのお気に入りのおつまみたち (全<%= @recipes.total_count %>件)</h2>
  </div>
  <div class="row">
    <% if @recipes.present? %>
      <%= render "public/recipes/recipe-index", recipes: @recipes %>
    <% else %>
      <div class="col text-center mt-5">
        <h2>--お気に入りのおつまみはありません--</h2>
      <div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-3 custom-pagination">
    <%= paginate @recipes %>
  </div>

  <div class="mb-3 text-left">
    <%= link_to('javascript:history.back()', class: "text-success") do %>
      <strong><i class="fa-solid fa-circle-left ml-2"></i></i>戻る</strong>
    <% end %>
  </div>
</div>