<div class="container">
  <div class="texts-wrapper">
    <div class="contents-title">
      <div class="row mt-5">
        <div class="col-2 md-4 mt-4">
          <%= image_tag @user.get_profile_image(100, 200), class: "img-thumbnail" %>
          <table class="table table-borderless">
            <tr>
              <th style="width:40%">名前</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th style="width:40%">自己紹介</th>
              <td><%= @user.introduction %></td>
            </tr>
            <tr>
              <th colspan="2"><%= link_to "お気に入りのおつまみ", favorites_user_path(@user.id) %></th>
            </tr>
            <% if current_admin || @user.id == current_user.id %>
              <tr>
                <th colspan="2"><%= link_to "編集する", edit_user_path(current_user), class: "btn btn-primary btn-sm" %></td>
                <th colspan="2"><%= link_to "フォロー一覧", follows_user_path(current_user), class: "btn btn-primary btn-sm" %></td>
                <th colspan="2"><%= link_to "フォロワー一覧", followers_user_path(current_user), class: "btn btn-primary btn-sm" %></td>
              </tr>
            <% else %>
              <tr>
                <th id="relationship-buttons_<%= @user.id %>" colspan="2">
                  <%= render "public/relationships/relationship", user: @user %>
                </th>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="row">
          <%= render "/public/recipes/recipe-index", recipes: @recipes %>
      </div>
    </div>
  </div>
</div>
