<h1>user/show</h1>

<div class="container">
  <div class="texts-wrapper">
    <div class="contents-title">
      <div class="row">
        <div class="col-md-4 mt-5">
          <%= image_tag @user.get_profile_image(100, 100), class: "img-thumbnail" %>
          <table class="table table-borderless">
            <tr>
              <th style="width:40%">名前</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>自己紹介</th>
              <td><%= @user.introduction %></td>
            </tr>
            <tr>
              <th colspan="2"><%= link_to "お気に入りのおつまみ", favorites_user_path(@user.id) %></th>
            </tr>
            <% if @user.id == current_user.id %>
              <tr>
                <td><%= link_to "編集する", edit_user_path(current_user), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="col-md-8">
          <div class="row">
            <% @recipes.each do |recipe| %>
              <div class="col-md-3 my-4">
                <div class="card bg-transparent border-0" style="width: 18rem;">
                  <%= link_to recipe_path(recipe.id) do %>
                    <%= image_tag recipe.get_recipe_image(100, 100) %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= recipe.title %></h5>
                    <p class="card-text"><%= recipe.description %></p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= recipe.alcohol.name %></li>
                    <li class="list-group-item"><%= recipe.food.name %></li>
                    <li class="list-group-item"><%= recipe.making_time.name %></li>
                    <li class="list-group-item"><%= recipe.user.name %></li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
