  <nav class="navbar bg-dark text-white pt-2 pb-2 navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand ml-auto" href="/"><%= image_tag('logo.png', size: "180x100") %></a>
      <% if user_signed_in? %>
        <p class="mx-2 text-light">ようこそ、<%= current_user.name %> 様</p>
      <% elsif admin_signed_in? %>
        <p class="mx-2 text-light">管理者ログイン</p>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to(new_recipe_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-plus mr-1"></i><span>新規投稿</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(user_path(current_user), class: "btn btn-outline-light text-light nav-link ml-2" ) do %>
                <strong><i class="fa-regular fa-user mr-1"></i><span>マイページ</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(users_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-users mr-1"></i><span>晩酌愛好家の一覧</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(recipes_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-utensils mr-1"></i></i><span>おつまみ一覧</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <% if current_user.guest_user? %>
                <%= link_to(user_confirm_path(current_user.id), class: "btn btn-outline-light text-light nav-link ml-2") do %>
                  <strong><i class="fa-solid fa-sign-out-alt mr-1"></i><span>ログアウト</span></strong>
                <% end %>
              <% else %>
                <%= link_to(destroy_user_session_path, method: :delete, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                  <strong><i class="fa-solid fa-sign-out-alt mr-1"></i><span>ログアウト</span></strong>
                <% end %>
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item"><%= link_to "会員一覧", admin_users_path, class: "btn btn-outline-light text-light nav-link ml-2" %></li>
            <li class="nav-item"><%= link_to "おつまみ一覧", recipes_path, class: "btn btn-outline-light text-light nav-link ml-2" %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-light text-light nav-link ml-2" %></li>
          <% else %>
            <li class="nav-item">
              <%= link_to(new_user_registration_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-user-plus mr-1"></i><span>新規登録</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(new_user_session_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-sign-in-alt mr-1"></i><span>ログイン</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(confirm_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-sign-in-alt mr-1"></i><span>ゲストログイン</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(about_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-link mr-1"></i><span>About</span></strong>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
