<header class="sticky-top bg-dark text-white pt-2 pb-2">
  <nav class="navbar navbar-expand-lg navbar-left">
    <div class="container">
      <a class="navbar-brand p-3 ml-auto" href="/"> <%= image_tag('logo.png', size: "180x70") %></a>
      <% if user_signed_in? %>
        <p class="mx-2 text-light text-right">ようこそ、<%= current_user.name %> 様</p>
      <% elsif admin_signed_in? %>
        <p class="mx-2 text-light text-right">管理者ログイン</p>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to(new_recipe_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-plus"></i><span>新規投稿</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(user_path(current_user), class: "btn btn-outline-light text-light nav-link ml-2" ) do %>
                <strong><i class="fa-regular fa-user"></i><span>マイページ</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(users_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-utensils"></i></i><span>晩酌愛好家の一覧</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(recipes_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-utensils"></i></i><span>おつまみ一覧</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(destroy_user_session_path, method: :delete, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-sign-out-alt"></i><span>ログアウト</span></strong>
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item"><%= link_to "会員一覧", admin_users_path, class: "btn btn-outline-light text-light nav-link ml-2" %></li>
            <li class="nav-item"><%= link_to "レシピ一覧", recipes_path, class: "btn btn-outline-light text-light nav-link ml-2" %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-light text-light nav-link ml-2" %></li>
          <% else %>
            <li class="nav-item">
              <%= link_to(new_user_registration_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-user-plus"></i><span>新規登録</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(new_user_session_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-sign-in-alt"></i><span>ログイン</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(confirm_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-sign-in-alt"></i><span>ゲストログイン</span></strong>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(about_path, class: "btn btn-outline-light text-light nav-link ml-2") do %>
                <strong><i class="fa-solid fa-link"></i><span>About</span></strong>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>