<header class="sticky-top bg-dark text-white pt-2 pb-2">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3 mr-auto" href="/"> <%= image_tag('logo.png', size: "280x70") %></a>
      <% if user_signed_in? %>
        <p class="mx-2 text-light text-right">ようこそ、<%= current_user.name %> 様</p>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-light text-light nav-link ml-2" %>
        </li>
        <li class="nav-item">
          <%= link_to '投稿フォーム', new_recipe_path, class: "btn btn-outline-light text-light nav-link ml-2" %>
        </li>
        <li class="nav-item">
          <%= link_to 'マイページ', user_path(current_user), class: "btn btn-outline-light text-light nav-link ml-2" %>
        </li>
        <li class="nav-item">
          <%= link_to 'おつまみ一覧', recipes_path, class: "btn btn-outline-light text-light nav-link ml-2" %>
        </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item"><%= link_to "会員一覧", admin_users_path, class: "btn btn-outline-light text-light nav-link ml-2" %></li>
          <li class="nav-item"><%= link_to "レシピ一覧", recipes_path, class: "btn btn-outline-light text-light nav-link ml-2" %></li>
          <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-light text-light nav-link ml-2" %></li>
        
        
        <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-light text-light nav-link ml-2" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-light text-light nav-link ml-2" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "btn btn-outline-light text-light nav-link ml-2" %>
        </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>