<!DOCTYPE html>
<html>
  <head>
    <title>BanshakuShare</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/95b647ef78.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=M+PLUS+Rounded+1c:
    wght@300&family=Noto+Sans+JP:wght@200&family=Noto+Serif+JP:wght@700&family=Zen+Kaku+Gothic+New:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <main class="main-bg">
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>